body {
  direction:rtl;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.teachers img{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;    
}

.teachers:hover img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranSans";
  src: url("./assets/fonts/IRANSans.ttf");
}

@layer base {
  h1 {
    @apply justify-center sm:mb-5 sm:text-4xl font-bold text-center sm:text-center  ;
  }
}

@layer components {
.mail-input-login{
  @apply w-full text-left  sm:py-3 border border-gray-400 rounded-md placeholder:font-irSans  sm:placeholder:font-light sm:w-11/12 xs:py-1  xs:placeholder:text-[12px] ;
} 
 .password-input-login{
  @apply flex-row-reverse  text-left w-full  sm:py-3 border border-gray-400 rounded-md placeholder:font-irSans placeholder:font-light sm:w-11/12 xs:py-1;
}
} 

.global-container{
  @apply flex items-center justify-center  w-screen py-10 bg-gradient-to-b from-primary dark:from-teal-800;
}
.card-container{
  @apply flex flex-col h-fit w-9/12 sm:p-12 space-y-10  bg-white dark:bg-slate-600 shadow-2xl rounded-2xl  md:flex-row font-irSans sm:flex-col-reverse  xs:flex-col-reverse xs:pt-4 xs:pb-10 ;
}
.right-side-container{
  @apply sm:flex flex-col justify-center  sm:w-full  xs:w-full xs:py-0 xs:px-8;
}
.message-forgot{
  @apply font-thin text-cyan-700 py-4 dark:text-stone-400 whitespace-nowrap sm:text-sm xs:text-xs;
}
.button-register{
  @apply  w-full ml-4  md:w-auto  flex justify-center items-center sm:p-3  md:px-6  md:py-2 space-x-4 font-irSans  text-white rounded-md shadow-lg px-9 bg-teal-600 dark:bg-teal-800 dark:shadow-shadowDarkUp shadow-cyan-100 hover:bg-opacity-90  hover:shadow-md border transition   text-center  hover:-translate-y-0.5 duration-150 sm:w-5/6 xs:w-1/2 xs:px-0  xs:py-1 xs:text-center;
}
.button-login{
  @apply w-full md:w-auto flex justify-center items-center sm:p-3  md:px-6 md:py-2 space-x-4 font-irSans  text-white rounded-md shadow-lg px-9 bg-teal-600 dark:bg-teal-800 dark:shadow-shadowDarkUp shadow-cyan-100 hover:bg-opacity-90  hover:shadow-md border transition   text-center hover:-translate-y-0.5 duration-150 sm:w-5/6 xs:w-1/2 xs:px-0  xs:py-1 xs:text-center;
}
.left-side-container{
  @apply w-2/3 mr-10 ml-20 relative bottom-5 sm:mx-auto xs:mx-auto;
}

.underline-hover{
  @apply hover:after:w-full after:h-[2px] relative after:bg-secondary after:absolute after:-bottom-1 after:right-0 hover:transition-all hover:duration-200
}


/* width */
::-webkit-scrollbar {
  visiblity: hidden;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: tranparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #999;
}